<div class="pt-4 overflow-x-hidden">
<!--  This allows classes to be compiled correctly in a conditional environment-->
  <div class="border-0
  border-teal-400
  border-green-600
  border-black
  border-amber-500
  border-gray-600
  border-yellow-400
  border-blue-300
  border-green-900
  border-orange-900
  border-amber-200
  border-slate-400
  border-red-800
  border-cyan-300
  border-purple-700
  border-red-600
  border-amber-950
  border-sky-600
  border-zinc-950
  border-amber-500
  border-stone-900
  border-blue-600"></div>
  <div class="flex flex-col items-start">
    <span class="text-xl font-bold text-center block w-full">Acknowledgements</span>
    <div id="image-sources" class="flex flex-col p-2">
      <span>Image Sources:</span>
<!--      TODO: Consider using the Capacitor in-app browser for this-->
      <ul class="list-disc pl-4">
        @for (img of imgUrls; track img) {

          <li>
            <a href="{{img}}" target="_blank" rel="noopener noreferrer" class="text-[10px] text-blue-500 active:underline break-all">{{img}}</a>
          </li>
        }
      </ul>
    </div>
    <div id="package-sources" class="flex flex-col p-2">
      <span>NPM Packages:</span>
      <ul class="list-disc pl-4">
        @for (dep of dependencies(); track dep) {
          <li>
            <span class="text-[10px]">{{dep}}</span>
          </li>
        }
      </ul>
    </div>
  </div>
</div>
