<div class="flex flex-col bg-gray-500 text-center">
  <img alt="logo" src="logo.png" class="" />
  <span class="text-white text-xs italic pt-2">Public-submitted guides and strategies for raids in Destiny 2</span>
  <div id="navbar" class="flex flex-row justify-between pt-2 px-6">
    <div class="flex flex-row space-x-4">
      <span class="p-1 mb-1 active:bg-gray-400 active:rounded-sm active:text-blue-500 text-xs" routerLink="">Home</span>
      <span class="p-1 mb-1 active:bg-gray-400 active:rounded-sm active:text-blue-500 text-xs"
        routerLink="/acknowledgements">Acknowledgements</span>
    </div>

    <div cdkOverlayOrigin #origin="cdkOverlayOrigin" (click)="isOpen = !isOpen">
      @let img = userService.profileImg();
      @if (img) {
      <img [src]="img" class="w-10 h-10 rounded-full object-cover p-2" />
      } @else {
      <mat-icon
        class="bg-white rounded-full active:bg-gray-400">
        person
      </mat-icon>
      }
    </div>

    <ng-template 
      cdkConnectedOverlay 
      [cdkConnectedOverlayOrigin]="origin" 
      [cdkConnectedOverlayOpen]="isOpen"
      (backdropClick)="isOpen = false">

      <div class="bg-white w-30 h-24 rounded-md flex items-center justify-center py-2 cursor-pointer">
        @if (!userService.signedIn()) {
          <span 
          (click)="signIn()"
          class="text-md select-none active:bg-gray-200 transition-colors p-2 rounded-sm">
            Sign in
          </span>
        } @else {
          <span
            class="text-md select-none active:bg-gray-200 transition-colors p-2 rounded-sm"
            (click)="signOut()"
          >Sign Out</span>
          <span (click)="userService.handleTokenStatus()">See Things that You Can See</span>
        }
      </div>
    </ng-template>
  </div>
</div>