<div class="flex flex-col border-l-4 {{getBorderClass()}} space-y-2 pt-2 w-full">
  @for (enc of encounters; track enc.encounterName) {
    <mat-card>
      <div class="h-fit ml-6 pt-2 grid grid-cols-5 items-center">
        <div class="flex flex-col items-start col-span-3">
          <span class="{{getSpanClass()}}" routerLink="/rd/{{rdPath}}/{{enc.path}}">{{enc.encounterName}}</span>
        </div>
        <img src="{{enc.imgUrl}}" class="{{getImgClass()}}" alt="{{enc.encounterName}}"/>
      </div>
    </mat-card>
  }
</div>
